<div class="top">
  <div class="logo-text">
    <div class="logo-top">
    <i class="ion-planet u-sm-hide"></i></div>
    <a href="/"><h1 class="header">Who Dat?</h1></a>
  </div>
  <div class="body-navigation u-text-center">
    <a href="/play" class="button button-primary nav-button">Play</a>
    <a href="/scores" class="button  button-primary nav-button">Scores</a>
    <a href="/face" id="profile-link" class="button  button-primary nav-button">Profile</a>
  </div>
</div>
