
<div class="all-seeing-eye">
  <i class="icon ion-eye"></i>
</div>

<form class="u-text-center" id="face-form">

  <input id="name" type="text" placeholder="Name" class="input-big"></input><br>
  <input id="position" type="text" placeholder="Position / Team" class="input-sub"></input>
  <br><br>
  <div class="face-photo"></div>

  <br>
  <input type="file" accept="image/*" capture="camera" id="file-upload">
  <br>

  <button type="submit" class="button-primary button-big" id="save-face" onClick="saveFaceData();" style="min-width: 350px; margin-top:2rem;">Save</button>

</form>
