
<form class="u-text-center" id="face-form">

  <label class="block-title">Profile</label>
  <input id="name" type="text" placeholder="Name" class="input-big"></input><br>
  <input id="position" type="text" placeholder="Position / Team" class="input-sub"></input>
  <br><br>
  <div class="face-photo"></div>
  <div class="tip-box">Pro tip: Use a real photo of you where your face is visible.</div>
  <br>
  <input type="file" accept="image/*" capture="camera" id="file-upload">

  <button type="submit" class="button-primary button-big" id="save-face" onClick="saveFaceData();" style="min-width: 350px; margin-top:2rem;">Save</button>

</form>
