<!doctype html>
<html class="no-js" lang="">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Who Dat?</title>

      <meta name="description" content="Remember your coworkers.">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Styles -->
      <link rel="stylesheet" href="/stylesheets/normalize.css">
      <link rel="stylesheet" href="/stylesheets/styles.css">
      <link rel="stylesheet" href="/stylesheets/skeleton.css">
      <link rel="stylesheet" href="/stylesheets/animate.css">


      <!-- Fonts -->
      <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
      <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,300italic,100' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <!--[if lt IE 8]>
        <p class="browserupgrade"><a href="http://browsehappy.com/">Seriously, the browser you're using is so old...</a></p>
      <![endif]-->

      <div class="top">
        <div class="logo-text">
          <a href="/"><h1 class="header">Who Dat <i class="icon ion-eye"></i></h1></a>
        </div>
        <div class="body-navigation u-text-center">
          <a href="/play" class="button button-trans nav-button">Play</a>
          <a href="/scores" class="button  button-trans nav-button">Scores</a>
          <a href="/face" id="profile-link" class="button  button-trans nav-button">Profile</a>
        </div>
      </div>


      <div class="body-content">
        <%= yield %>
      </div>


      <div class="overlay"></div>
      <div class="modal">
        <div class="modal-text">Whoops...</div>
      </div>


      <!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script> -->

      <script src="/js/jquery.min.js"></script>
      <script src="/js/jquery-ui.min.js"></script>

      <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
      <script src="/js/helpers.js"></script>
      <script src="/js/scripts.js"></script>
    </body>
</html>
