<link href='https://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">

<style>
  .priority-picker {
    color: black;
    margin-left: 2rem;
  }
  .text-huge {
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    margin-bottom: 3rem;
    letter-spacing: -1px;
    transition: all 0.2s;
  }
</style>

<div class="row">
  <div class="ten columns">
    <h3 class="text-huge">Hey GDD, watchu up to?</h3><br>
  </div>
  <div class="two columns">
    Priority
    <select name="priority-picker" class="priority-picker">
      <option name="1">0</option>
      <option name="1">1</option>
      <option name="1">2</option>
    </select>
  </div>
</div>


<div class="log-entries">
  <div class="log-entry">
    <span class="log-timestamp"><%= Date.today.to_s %></span>
    <span class="log-text">Oh nm, hbu?</span>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
<script>
var priority_thresh = parseInt("<%= @priority %>");
$('.priority-picker').val(priority_thresh)

// Get a database reference to our posts
var ref = new Firebase("https://jobs-dashboard.firebaseio.com/log");
var dd = new Date().toISOString().substr(0, 10).replace('T', ' ');
var dd = "<%= @date %>";
$('.log-entry').hide();

//Listen to firebase log storage
var attachFirelog = function(){
  ref.child(dd).off();
  ref.child(dd).on("child_added", function(snapshot, prevChildKey) {
    var newLog = snapshot.val();
    createEntry(newLog.time, newLog.data, snapshot.key(), newLog.priority, newLog.status)
  }, function (errorObject) {
    console.log("The Firebase read failed: " + errorObject.code);
  });
}
attachFirelog();

//Create entry and append to page
var createEntry = function(time, message, id, priority, status){
  var datetime = new Date(time);

  if (priority <= priority_thresh){

    var entry = this.view = document.createElement("div");
    entry.setAttribute('class', 'log-entry' + ' log-entry--priority' + priority);
    entry.setAttribute('id', id);
    entry.dataset.priority = priority.toString();

    var logtime = entry.appendChild(document.createElement("span"));
    logtime.setAttribute('class', 'log-timestamp');
    var dd = new Date(parseInt(time)*1000);
    logtime.innerHTML = dd.toLocaleDateString() +"<br>" + dd.toLocaleTimeString();

    if (typeof status !== 'undefined'){
      var logstatus = entry.appendChild(document.createElement("span"));
      logstatus.setAttribute('class', 'log-status');
      logstatus.innerHTML = status;
    }

    var logtext = entry.appendChild(document.createElement("span"));
    logtext.setAttribute('class', 'log-text');
    logtext.innerHTML = message;

    var entt = $(entry).prependTo('.log-entries');
    $(entt).addClass('animated bounceInRight');
    if (document.body.className == 'blurred') {
      UNREAD += 1;
      document.title = "GDD (" + UNREAD + ")";
    }

  }
};

//Priority Picker
$('.priority-picker').on('change', function(){
  $('.log-entries').empty();
  priority_thresh = $(this).val();
  attachFirelog();
})

</script>
