
<br><br>
<div class="u-text-center">
  <h2>Who are you?</h2>

  <form id="login" onsubmit="loginForm()">
    <input type="text" id="login-names" class="input-big"></input>
    <br>
    <button type="submit" class="button-primary login-button">That's Me</button>
  </form>
  <br>
  <p class="text-big text-light">
    Not on the list and work at <b><a target="_blank" href="http://hired.com">Hired</a></b>?<br>
    <a href="/face/new">Make an account</a> and join the fun.
  </p>

</div>
