<form>

  <input id="name" type="text" placeholder="Name" class="input-big"></input>
  <input id="image" type="text" placeholder="Position / Team" class="input-big"></input>
  <br><br>
  <input class="hidden u-flex" type="file" accept="image/*" capture="camera" id="file-upload">

  <br>
  <button type="submit" class="button-primary">Let's get this party started</button>

</form>
