
<section class="cards-container">
  <div class="card card-template">
    <div class="card-image"></div>
    <ul class="name-options">
      <li class="button button-trans name name-template">
        Whoops
      </li>
    </ul>
  </div>
</section>

<section class="scoreboard-container">
  <div class="scoreboard"></div>
  <div class="scoreboard-score">0</div>
</section>
