<style>

.scoreboard {
  height: 50px;
  background-color: #B3C7CC;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.scoreboard-score {
  margin: 0 auto;
  position: relative;
  margin-top: -40px;
  text-align: center;
  width: 80px;
  height: 80px;
  background-color: #B3C7CC;
  border-radius: 50%;
  font-size: 3.2rem;
  line-height: 8rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
  color: #F3F3F3;
  transition: all 0.1s ease-in-out;
  cursor: default;
  transition-delay: 0.1s;
}
.scoreboard-score:hover {
  transform:scale(1.1);
  margin-top: -50px;
}

</style>

<section class="cards-container">
  <div class="card card-template">
    <div class="card-image"></div>
    <ul class="name-options">
      <li class="button name name-template">
        Whoops
      </li>
    </ul>
  </div>
</section>


<section class="scoreboard">
  <div class="scoreboard-score">0</div>
</section>
