
<h3 class="block-title">Scores</h3>

<section class="score-containers">

  <div class="score-listing score-listing-template">
    <span class="score-photo"></span>
    <span class="score-name">Whoops</span>
    <span class="score-number">9000</span>
  </div>


</section>
