<style>
  
  .score-listing {
    display: flex;
    font-weight: bold;
  }
  .score-number {
    text-align: right;
    margin-right: 2rem;
    background-color: #D05353;
    width: 30px;
    height: 30px;
    text-align: center;
    display: block;
    border-radius: 50%;
    color: white;
    line-height: 30px;
    letter-spacing: 0px;
  }
  .score-name {
    flex-grow: 1;
    display: flex;
  }

  .score-photo {
    margin-right: 1.5rem;
    min-width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
  }
  .score-listing {
    align-items: center;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.05);
    border-top: 1px solid #D05353;
    color: #D05353;
    margin-bottom: 0.5rem;
    transition: all 0.1s ease-in-out;
    letter-spacing: 1px;
  }
  .score-listing:hover,
  .score-listing:focus {
    margin-left: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .score-listing-template { display: none; }
  .score-containers {
    display: flex;
    flex-direction: column-reverse;
  }
</style>

<h3 class="block-title">Scores</h3>

<section class="score-containers">

  <div class="score-listing score-listing-template">
    <span class="score-photo"></span>
    <span class="score-name">Whoops</span>
    <span class="score-number">9000</span>
  </div>


</section>
