$red: #D05353;


$weird-blue-gray: #E1E5F2;
$white: #FFFFFF;
$gray: #F3F3F3;
$black: #000;

$dark-blue: #022B3A;
$light-blue: #BFDBF7;

$dark-pink: #CE84AD;
$light-pink: #CE96A6;
$off-pink: #D1A7A0;
$dark-yellow: #D4CBB3;
$light-yellow: #D2E0BF;

$light-yellow: #FDFBDA;
$dark-yellow: #D3D0A8;
$dark-green: #819F7F;
$off-green: #6AC1B8;
$blah-green: #BFE9DB;
$dark-white: #E1F6F4;

$blue: #1F7A8C;
$dark-blue: #2D4659;
$dark-gray: rgb(30, 30, 34);

//$dark-blue: #819F7F;
$light-green: #6AC1B8;
$g2: #F3F3F3;
$dark-green: #1B515E;
$off-white: #F3F3F3;
$dark-white: #E6E3E3;
$off-green: #B3C7CC;

$color-primary: $off-green;
