//Core styles
.flex-chart {
  width: 100%;
  display: flex;
  animation: chart-grow 1s; //Optional
  height: 120px;
  margin-top: 2rem;
}
.flex-chart--column {
  flex-direction: column;
}
.flex-chart > .line {
  padding: 0.5rem 1rem;
  flex-basis: 0px;
  position: relative;
  font-size: 2rem;
  font-weight: 600;
}
.percentage::after {
  content: "%";
}

.percentage {
  font-weight: 300;
  //position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  font-size: 1.4rem;
}
.count {
  //position: absolute;
  top: 0.5rem;
  right: 1rem;
}
.line {
  transition: all 0.3s ease-in-out;
  min-width: 60px;
  cursor: default;
}
.line:hover {
  flex-basis: 20%;
}

//Automatically scale your chart palette w/ SASS
$base: #C16A6A;
$i: 20;
@while $i > 0 {
  .flex-chart > .line:nth-child(#{$i}) {
    background-color: adjust-hue( $base, percentage($i*10) );
  }
  $i: $i - 1;
}
.flex-chart > .line:nth-child(1) {
  background-color: $base;
}


//Optional animation thangs
@keyframes chart-grow {
  0%   { width: 0px; color: transparent;}
  80%  { color: transparent }
  100% { width: 100%; }
}
