@import "colors";

// skeleton.css holds all the global style specific goods

html, body { height: 100%; }

.body-content {
  opacity: 0;
  transition: all 0.1s ease-in-out;
}






.modal, .overlay { display: none; }
.modal {
  background-color: $gray;
  padding: 2rem;
  border-radius: 3px;
  max-width: 600px;
  position: fixed;
  left: 50%; top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 5;
  text-align: center;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
}
.overlay {
  z-index: 1;
  position: fixed;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

//PAGE SCAFFOLD & LAYOUT
.body-container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}
@media (max-width: 480px) {
  .body-container {
    flex-direction: column !important;
  }
  .body-navigation {
    max-width: 100% !important;
    flex-wrap: wrap;
    flex-direction: row !important;
    justify-content: center;
  }
  .body-navigation > a {
    max-width: 40%;
    flex-grow: 1;
    margin: 0.2rem;
  }
}

.body-navigation, .body-content {
  padding: 1rem;
}
.body-navigation {
  justify-content: flex-end;
  display: flex;
}
.body-content {
  padding: 1rem 2rem;
  flex-grow: 2;
}
.top {
  margin: 2rem 0;
  background-color: $color-primary;
  padding: 0 1rem;
  color: #fff !important;
  display: flex;
  align-items: center;
}
.logo-text {
  flex-grow: 1;
}
.nav-button {
  margin: 0 !important;
}

//CUSTOM STYLES
a { text-decoration: none;}
.header, .subheader {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin-left: 2rem;
}

.header { //Header on top of every page
  color: $blah-green;
  font-size: 2.5rem;
  letter-spacing: -1px;
  //line-height: 3rem;
  margin-bottom: 0;
  color: #fff;
}
.subheader { //Subeader on top of every page
  color: $off-green;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  margin-top: -0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0rem;
}

.logo-top:hover {
  animation:sway 2s ease-in-out infinite;
}

.results { // search.erb - results containers
  border: 1px solid $dark-green;
  border-radius: 3px;
  padding: 1rem;
  margin-bottom: 3rem;
}



// Autocomplete jquery UI
.ui-autocomplete {
  padding: 0;
  margin: 0;
}
.ui-menu-item {
  font-size: 2rem;
  list-style-type: none;
  padding: 0.8rem;
  text-align: left;
  background-color: #CCC9BF;
  font-weight: light;
  width: 335px;
}
.ui-menu-item:nth-child(even){
  background-color: #BBB7AB;
}
.ui-menu-item:hover {
  font-size: 2rem;
  list-style-type: none;
  background-color: $light-blue;
}
.ui-helper-hidden-accessible {
  display: none !important;
}




//UTILITY HELPERS
.u-text-center { text-align: center !important; }
.u-opacity100 { opacity: 100 !important; }
.u-flex { display: flex; }
.text-big { font-size: 2rem !important; }
.text-light { font-weight: 100 !important; }

.input-big {
  height: inherit !important;
  font-size: 3rem !important;
  padding: 1rem !important;
}


//RESPONSIVE
/* XS - Larger than mobile */
@media (min-width: 480px) {
  .u-xs-hide {display: block;}
  .header, .logo-top { //Header on top of every page
    font-size: 4rem;
    line-height: 3.8rem;
  }
}
/* SM - Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .u-sm-hide {display: block;}
}
/* MD - Larger than tablet */
@media (min-width: 750px) {
  .u-md-hide {display: block;}
}
/* LG - Larger than desktop */
@media (min-width: 1000px) {
  .u-lg-hide {display: block;}
}
/* XL- Larger than Desktop HD */
@media (min-width: 1200px) {
  .u-xl-hide {display: block;}
}
