@import "colors";

$placeholder-image: "https://67.media.tumblr.com/647b585e927e02ef18c1f88a29b10b8e/tumblr_o7028phQZ11qz4vfso1_500.png";
// skeleton.css holds all the global style specific goods

/* html, body { height: 100%; } */
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.block-title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: $red-dark;
  padding: 1rem 2rem;
  transition: all 0.1s ease-in-out;
}

.face-photo {
  width: 335px;
  height: 335px;
  background-size: cover;
  background-position: center;
  background-image:url($placeholder-image);
  margin: 0 auto;
  border-radius: 3px;
}

.modal, .overlay { display: none; }
.modal {
  background-color: $gray;
  padding: 2rem;
  border-radius: 2px;
  max-width: 600px;
  position: fixed;
  left: 50%; top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 11;
  text-align: center;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  padding-bottom: 60px; // For modal button
}
.modal-button {
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
}
.overlay {
  z-index: 10;
  position: fixed;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

//PAGE SCAFFOLD & LAYOUT
.body-container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}
@media (max-width: 480px) {
  .body-container {
    flex-direction: column !important;
  }
  .body-navigation {
    max-width: 100% !important;
    flex-wrap: wrap;
    flex-direction: row !important;
    justify-content: center;
    min-width: 50%;
    padding: 0 1rem !important;
  }
  .body-navigation > a {
    max-width: 40%;
    flex-grow: 1;
    margin: 0.2rem;
    padding: 0.5rem;
  }
  .scoreboard-score {
    left: 5% !important;
    transform: scale(0.8) !important;
  }
  .cards-container {margin-bottom: 80px;}
}
  .scoreboard {
     height: 40px;
     background-color: #D05353;
     width: 100%;
     position: fixed;
     bottom: 0;
     left: 0;
   }
   .scoreboard-score {
     margin: 0 auto;
     position: fixed;
     left: 50%; bottom: 1%;
     transform: translateX(-50%);
    margin-top: -30px;
     text-align: center;
     width: 60px;
     height: 60px;
     background-color: #D05353;
     border-radius: 50%;
    font-size: 3rem;
    line-height: 6rem;
     font-weight: bold;
     font-family: 'Montserrat', sans-serif;
     box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
     color: #F3F3F3;
     cursor: default;
     transition: all 0.2s ease-in-out;
   }
   .scoreboard-center { z-index: 12 !important; }
   .scoreboard-center {
     bottom: 70%;
     transform: translateX(-50%) scale(1.4);
   }


.body-navigation,
.body-content {
  padding: 1rem;
}

.body-navigation {
  display: none;
  justify-content: flex-end;
  display: flex;
  flex-grow: 1;
}

.body-content {
  padding: 1rem 2rem;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  padding-bottom: 80px;
}

.top {
	background-color: $gray;
  width: 100%;
  top: 0;
  color: #D05353 !important;
  display: flex;
  align-items: center;
	z-index: 2;
}

.logout {
  position: fixed;
  bottom: 0;
  right: 4rem;
  transition: all 0.1s ease-in-out;
  button {
    height: 40px;
    margin-bottom: 0 !important;
  }
}

.logo-top:hover { animation:sway 2s ease-in-out infinite; }

.all-seeing-eye {
  pointer-events: none;
  display: none;
  position: fixed;
  font-size: 20rem;
  color: $red;
  left: 48%; top: 48%;
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

.nav-button {
  margin: 0 !important;
}

a { text-decoration: none; }
.header, .subheader {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.header {
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: #D05353;
  padding: 1rem 2rem;
  transition: all 0.1s ease-in-out;
  .ion-eye {
    color: $gray;
  }
}
.header:hover,
.header:focus {
  background-color: #D05353;
  color: $gray;
}



// Card Styles
.card-template,
.name-template { display: none !important; }

.cards-container {
  display: flex;
  justify-content: space-around;
}

.card {
  max-width: 400px;
  min-width: 400px;
  margin-right: 2rem;
  border-radius: 3px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
}
.card-image {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.name-options {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.name {
  border: 0;
  margin: 0 !important;
} .name:hover { background-color: rgba(0, 0, 0, 0.1); }

.card-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-image:url($placeholder-image)
}

// Score styles
  .score-listing {
    display: flex;
    font-weight: bold;
  }
  .score-number {
    text-align: right;
    margin-right: 2rem;
    background-color: #D05353;
    width: 30px;
    height: 30px;
    text-align: center;
    display: block;
    border-radius: 50%;
    color: white;
    line-height: 30px;
    letter-spacing: 0px;
    font-size: 12px;
  }
  .score-name {
    flex-grow: 1;
    display: flex;
  }

  .score-photo {
    margin-right: 1.5rem;
    min-width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
  }
  .score-listing {
    align-items: center;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.05);
    border-top: 1px solid #D05353;
    color: #D05353;
    margin-bottom: 0.5rem;
    transition: all 0.1s ease-in-out;
    letter-spacing: 1px;
  }
  .score-listing:hover,
  .score-listing:focus {
    margin-left: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .score-listing-template { display: none; }
  .score-containers {
    display: flex;
    flex-direction: column-reverse;
  }



// Autocomplete jquery UI
.ui-autocomplete {
  padding: 0;
  margin: 0;
}
.ui-menu-item {
  margin: 0;
  font-size: 2.5rem;
  list-style-type: none;
  padding: 0.5rem 1rem;
  text-align: left;
  background-color: $red-dark;
  width: 360px;
  color: $gray;
  cursor: pointer;
}
.ui-menu-item:nth-child(even){
  background-color: darken($red-dark, 10%);
}
.ui-menu-item:hover {
  list-style-type: none;
  background-color: black;
}
.ui-helper-hidden-accessible {
  display: none !important;
}



//UTILITY HELPERS
.u-opacity0 { 
  opacity: 0 !important; 
  pointer-events: none; 
} .u-opacity100 { opacity: 100 !important; }

.u-text-center { text-align: center !important; }
.text-big { font-size: 2rem !important; }
.text-sub { font-size: 1.5rem !important; }
.text-light { font-weight: 300 !important; color: rgba(0, 0, 0, 0.5); }

.u-flex { display: flex; }
.u-blur { -webkit-animation: 10s linear 0s infinite alternate blurr; }

@keyframes blurr {
    0% { -webkit-filter: blur(0px); }
  100% { -webkit-filter: blur(50px); }
}

.input-big {
  height: inherit !important;
  font-size: 3rem !important;
  padding: 1rem !important;
}

//File upload styles
input[type="file"]{
  display: flex;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  padding: 0 30px;
  font-weight: 500;
  color: $red-dark;
  font-size: 11px;
}

.tip-box {
  box-sizing: border-box;
  padding: 1rem;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
  width: 335px;
  margin: 1rem auto;
  margin-top: 0;
}


//RESPONSIVE
/* XS - Larger than mobile */
@media (min-width: 480px) {
  .u-xs-hide { display: block; }
  .header, .logo-top { //Header on top of every page
    font-size: 4rem;
    line-height: 3.8rem;
  }
}
/* SM - Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .u-sm-hide {display: block;}
}
/* MD - Larger than tablet */
@media (min-width: 750px) {
  .u-md-hide {display: block;}
}
/* LG - Larger than desktop */
@media (min-width: 1000px) {
  .u-lg-hide {display: block;}
}
/* XL- Larger than Desktop HD */
@media (min-width: 1200px) {
  .u-xl-hide {display: block;}
}
