@import "colors";

// skeleton.css holds all the global style specific goods

html, body { height: 100%; }
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.face-photo {
  width: 335px;
  height: 335px;
  background-size: cover;
  background-position: center;
  background-image:url("https://d13yacurqjgara.cloudfront.net/users/813360/screenshots/2462475/screen_shot_2016-01-16_at_6.02.32_pm.png");
  margin: 0 auto;
  border-radius: 3px;
}



.modal, .overlay { display: none; }
.modal {
  background-color: $gray;
  padding: 2rem;
  border-radius: 3px;
  max-width: 600px;
  position: fixed;
  left: 50%; top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 5;
  text-align: center;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
}
.overlay {
  z-index: 1;
  position: fixed;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

//PAGE SCAFFOLD & LAYOUT
.body-container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}
@media (max-width: 480px) {
  .body-container {
    flex-direction: column !important;
  }
  .body-navigation {
    max-width: 100% !important;
    flex-wrap: wrap;
    flex-direction: row !important;
    justify-content: center;
  }
  .body-navigation > a {
    max-width: 40%;
    flex-grow: 1;
    margin: 0.2rem;
  }
}

.body-navigation, 
.body-content {
  padding: 1rem;
}

.body-navigation {
  justify-content: flex-end;
  display: flex;
  flex-grow: 1;
}

.body-content {
  padding: 1rem 2rem;
  margin-top: 80px;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}


.top {
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0.5rem 0;
  padding: 0 1rem;
  color: #D05353 !important;
  display: flex;
  align-items: center;
}

.logo-top:hover { animation:sway 2s ease-in-out infinite; }


.nav-button {
  margin: 0 !important;
}

a { text-decoration: none; }
.header, .subheader {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.header {
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: #D05353;
  padding: 1rem;
  transition: all 0.1s ease-in-out;
}
.header:hover,
.header:focus {
  background-color: #D05353;
  color: $gray;
}
.subheader {
  color: $off-green;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  margin-top: -0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0rem;
}


.results { // search.erb - results containers
  border: 1px solid $dark-green;
  border-radius: 3px;
  padding: 1rem;
  margin-bottom: 3rem;
}



// Autocomplete jquery UI
.ui-autocomplete {
  padding: 0;
  margin: 0;
}
.ui-menu-item {
  font-size: 2rem;
  list-style-type: none;
  padding: 0.8rem;
  text-align: left;
  background-color: #CCC9BF;
  font-weight: light;
  width: 335px;
}
.ui-menu-item:nth-child(even){
  background-color: #BBB7AB;
}
.ui-menu-item:hover {
  font-size: 2rem;
  list-style-type: none;
  background-color: $light-blue;
}
.ui-helper-hidden-accessible {
  display: none !important;
}



// Card Styles
.card-template,
.name-template { display: none; }

.cards-container {
  display: flex;
  justify-content: space-around;
}

.card {
  max-width: 400px;
  min-width: 400px;
  margin-right: 2rem;
  border-radius: 3px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
}
.card-image {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.name-options {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.name {
  border: 0;
  margin: 0 !important;
}
.name:hover { background-color: rgba(0, 0, 0, 0.1); }

.card-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-image:url('/images/toonspenser.png')
}



//UTILITY HELPERS
.u-text-center { text-align: center !important; }
.u-opacity0 { opacity: 0 !important; }
.u-opacity100 { opacity: 100 !important; }
.u-flex { display: flex; }
.text-big { font-size: 2rem !important; }
.text-sub { font-size: 1.5rem !important; }

.text-light { font-weight: 300 !important; color: rgba(0, 0, 0, 0.5); }
.u-blur { -webkit-animation: 10s linear 0s infinite alternate blurr; }


@keyframes blurr {
    0% { -webkit-filter: blur(0px); }
  100% { -webkit-filter: blur(50px); }
}

.input-big {
  height: inherit !important;
  font-size: 3rem !important;
  padding: 1rem !important;
}


//RESPONSIVE
/* XS - Larger than mobile */
@media (min-width: 480px) {
  .u-xs-hide {display: block;}
  .header, .logo-top { //Header on top of every page
    font-size: 4rem;
    line-height: 3.8rem;
  }
}
/* SM - Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .u-sm-hide {display: block;}
}
/* MD - Larger than tablet */
@media (min-width: 750px) {
  .u-md-hide {display: block;}
}
/* LG - Larger than desktop */
@media (min-width: 1000px) {
  .u-lg-hide {display: block;}
}
/* XL- Larger than Desktop HD */
@media (min-width: 1200px) {
  .u-xl-hide {display: block;}
}
